<footer class="overflow-hidden bg-theme-sun-bg dark:bg-theme-moon-bg">
  <!-- top grid -->
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div class="flex flex-col gap-8">
      <!-- Navigation  -->
      <div>
        <h3 class="text-theme-sun-text dark:text-theme-moon-text text-base lg:text-xl">Navigation</h3>
        <ul class="mt-4 text-xs uppercase flex flex-col gap-2 lg:flex-row">
          <li><a href="#work"     class="text-theme-sun-textMuted dark:text-theme-moon-textMuted hover:text-theme-sun-text dark:hover:text-theme-moon-text">Work</a></li>
          <li><a href="#how"      class="text-theme-sun-textMuted dark:text-theme-moon-textMuted hover:text-theme-sun-text dark:hover:text-theme-moon-text">How&nbsp;it&nbsp;works</a></li>
          <li><a href="#contact"  class="text-theme-sun-textMuted dark:text-theme-moon-textMuted hover:text-theme-sun-text dark:hover:text-theme-moon-text">Contact</a></li>
          <li><a href="#faq"      class="text-theme-sun-textMuted dark:text-theme-moon-textMuted hover:text-theme-sun-text dark:hover:text-theme-moon-text">FAQ</a></li>
        </ul>
      </div>

      <!-- Other projects -->
      <div>
        <h3 class="text-theme-sun-text  dark:text-theme-moon-text text-base lg:text-xl">Other&nbsp;projects</h3>
        <ul class="mt-4 text-xs uppercase flex flex-col gap-2 lg:flex-row">
          <li>
            <a href="https://metiscore.ai"
               class="text-theme-sun-textMuted dark:text-theme-moon-textMuted hover:text-theme-sun-text dark:hover:text-theme-moon-text">
              MetisCore&nbsp;
            </a>
          </li>
        </ul>
      </div>

      <!-- Resources -->
      <div>
        <h3 class="text-theme-sun-text dark:text-theme-moon-text text-base lg:text-xl">Resources</h3>
        <ul class="mt-4 text-xs uppercase flex flex-col gap-2 lg:flex-row">
          <li><a href="#_"   class="text-theme-sun-textMuted dark:text-theme-moon-textMuted hover:text-theme-sun-text dark:hover:text-theme-moon-text">Notion Career Template (Coming soon)</a></li><br>
          <li><a href="_#"  class="text-theme-sun-textMuted dark:text-theme-moon-textMuted hover:text-theme-sun-text dark:hover:text-theme-moon-text">GTM motion templates (Coming soon)</a></li>
        </ul>
      </div>

      <!-- Socials -->
      <div>
        <h3 class="text-theme-sun-text dark:text-theme-moon-text text-base lg:text-xl">Socials</h3>
        <ul class="mt-4 text-xs uppercase flex flex-col gap-2 lg:flex-row">
          <li>
            <a href="https://twitter.com/Mike_Andreuzza"
               class="text-theme-sun-textMuted dark:text-theme-moon-textMuted hover:text-theme-sun-text dark:hover:text-theme-moon-text">
              @biaahmedly
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- bottom meta -->
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto space-y-6">
    <p class="text-sm text-theme-sun-text dark:text-theme-moon-text">
      © 2025 Rabia Ahmed. All rights reserved
    </p>

    <p class="text-sm text-theme-sun-textMuted dark:text-theme-moon-textMuted">
      Personality checksum: ENTP • fueled by smoothies, contrarian ideas, and an endless curiosity for how things grow. Designed and built by
      <a href="https://michaelandreuzza.com/"
         class="text-theme-sun-text dark:text-theme-moon-text hover:text-theme-sun-primary dark:hover:text-theme-moon-primary">
        Rabia Ahmed</a>. Portfolio crafted with love, Astro &amp; TailwindCSS in Islamabad, Pakistan. 💛
    </p>
  </div>

  <!-- Name SVG -->
  <svg
    class="w-full lg:-mx-4 -mb-4 lg:-mb-6"
    viewBox="0 0 1585 372"
    xmlns="http://www.w3.org/2000/svg"
  >
    <text
      x="50%" y="88%" text-anchor="middle"
      font-family="Crimson Text, serif"
      font-size="260"
      class="fill-[#f0f0ed] dark:fill-[#2c2c2c]"
    >
      Rabia Ahmed
    </text>
  </svg>
</footer>
