---
import { BaseHead } from '@components/seo';
import Stack from '@components/socialproofs/stack.astro';
import { SITE_TITLE } from '@data/index';
import { SITE_DESCRIPTION, socialLinks } from '@data/index';
import Hero from '@components/misc/hero.astro';
import Layout from '../layouts/layout.astro';
import Faq from '@components/misc/faq'
import Testimonials from '@components/socialproofs/testimonials';
import Cta from '@components/cta/home-cta.astro';
import Showcase from '@components/socialproofs/showcase.astro';
---

<!doctype html>
<html lang='en' >
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
			image='/images/ogimage.png'
		/>
	</head>
	
	<Layout>
		<div
	>
			<Hero/>
			<Stack/>
			<Showcase/>
			<Faq client:load/>
			<Testimonials client:load/>
			<Cta/>

				<!-- 
				{
					socialLinks.map((link) => (
						<a
							href={link.url}
							class='text-lg font-medium text-gray-700 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100 hover:underline underline-offset-2'>
							{link.label}
						</a>
					))
				} -->
			</div>
		</div>
	
	</Layout>
</html>
