---
import { BaseHead } from '@components/seo';
import Stack from '@components/socialproofs/stack.astro';
import { SITE_TITLE } from '@data/index';
import { SITE_DESCRIPTION } from '@data/index';
import Hero from '@components/misc/hero.astro';
import Layout from '../layouts/layout.astro';
import Faq from '@components/misc/faq'
import Testimonials from '@components/socialproofs/testimonials';
import Cta from '@components/cta/home-cta.astro';
import Showcase from '@components/socialproofs/showcase.astro';
import Cases from '@components/socialproofs/cases.astro';
import Dock from '@components/misc/Dock';
---

<!doctype html>
<html lang='en' >
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
			image='/images/ogimage.png'
		/>
	</head>
	
	<Layout>
		<div>
			<Hero/>
			<Showcase/>
			<Cases />
			<Stack/>
			<Faq client:visible/>
                        <Testimonials client:visible/>
                        <Cta/>
                        <Dock client:visible />
                        </div>
                </div>
	
	</Layout>
</html>
