
<!--
DELETE THIS

<div
	id='root-container'
	class='w-full flex flex-col items-center justify-start my-6 p-4 antialiased max-w-xl mx-auto'>
	<slot />
</div>

<head>
	<link
		rel='alternate'
		type='application/rss+xml'
		title='RSS Feed for rabiaahmed.me'
		href='/rss.xml'
	/>
</head> -->
